/* palette from https://lospec.com/palette-list/lost-century - thanks! */
/* [ candara, corbel ] [ 'segoe print', georgia ] */

html,
body
{
    margin: 0;
    padding: 0;
    background: #574852;
    color: #00000088;
    font-family: candara, corbel;
    font-size: min(5.33vh, 3vw);
    transition: background-color 0.5s, color 0.5s;
}

.body-conversation
{
    background: #4b3d44;
}

.body-map
{
    background: #ab9b8e;
    color: #574852;;
}

*
{
    cursor: default;
}

#screens > div
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loader
{
    text-align: center;
    padding-top: 5rem;
}

@keyframes blink
{
    0% { opacity: 1; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

#conversation
{
    overflow: hidden;
    height: 100%;
}

#conversation > div
{
    margin: 0.3rem;
    padding: 0.1rem;
}

.s
{
    background: #00000033;
    color: #ba9158;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.s-you
{
    color: #4b726e;
    font-weight: bold;
}

.s-king
{
    color: #ae5d40;
    font-weight: bold;
}

.n
{
    opacity: 0;
}

#click-to-continue
{
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    animation: blink 2s infinite;
}

#map > *
{
    position: absolute;
}

#controls1
{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

#controls2
{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#controls1 > span,
#controls2 > span
{
    background: #00000033;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

/* debug */
/* #container:hover { background: #00000020 } */
