/* palette from https://lospec.com/palette-list/lost-century - thanks! */
/* [ candara, corbel ] [ 'segoe print', georgia ] */

html,
body
{
    margin: 0;
    padding: 0;
    background: #574852;
    color: #00000088;
    font-family: candara, corbel;
    font-size: min(5.33vh, 3vw);
    transition: background-color 0.5s, color 0.5s;
}

.body-conversation
{
    background: #4b3d44;
    color: #ba9158;
}

.body-map
{
    background: #ab9b8e;
    color: #574852;
}

.body-city
{
    background: #79444a;
    color: #ba9158;
}

*
{
    cursor: default;
}

#screens > div
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loader
{
    text-align: center;
    padding-top: 5rem;
}

@keyframes blink
{
    0% { opacity: 1; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

#conversation
{
    overflow: hidden;
    height: 100%;
}

#conversation > div
{
    margin: 0.3rem;
    padding: 0.1rem;
}

.s
{
    background: #00000033;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.s-you
{
    color: #4b726e;
    font-weight: bold;
}

.s-king
{
    color: #ae5d40;
    font-weight: bold;
}

.n
{
    opacity: 0;
}

#click-to-continue
{
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    animation: blink 2s infinite;
}

#map > *
{
    position: absolute;
}

#controls1
{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

#controls2
{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#controls1 > span,
#controls2 > span
{
    background: #00000033;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.popup
{
    position: fixed;
    top: 3rem;
    right: 0;
    left: 0;
    font-size: 2rem;
    animation: fade 4s;
    opacity: 0;
    text-align: center;
}

@keyframes fade
{
    0% { opacity: 0; font-size: 4rem; }
    5% { opacity: 1; font-size: 2rem; }
    100% { opacity: 0; font-size: 1.8rem; }
}

#warning
{
    position: fixed;
    color: #79444a;
    top: 5rem;
    right: 0;
    left: 0;
    text-align: center;
    animation: blink 1s infinite;
}

.city-label
{
    position: absolute;
    color: #79444a;
    text-align: center;
    font-size: 0.6rem;
}

#city-menu
{
    width: 80vw;
    margin: 1rem auto;
    text-align: center;
    line-height: 1.3em;
}

.g-have,
.g-miss,
.g-new
{
    background: #00000044;
    color: #000000cc;
    border-radius: 0.1em;
    padding: 0 0.2em;
}

.g-have
{
    background: #00ff0044;
    color: #00ff0066;
}

.g-new
{
    background: #ffffff44;
    color: #fff;
}

#city-menu a,
#city-menu a:hover,
#city-menu a:active
{
    background: #ba9158;
    border-radius: 0.5em;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #79444a;
}

#city-menu a:hover
{
    background: #fff;
    color: #79444a;
}

#city-menu a.disabled,
#city-menu a.disabled:hover
{
    background: #00000044;
    color: #000000cc;
}

.md
{
    position: absolute;
    color: #666;
    background: #ffffff44;
    font-size: 1rem;
    padding: 0.2em;
    width: 1em;
    height: 1em;
    text-align: center;
}

.md-in-0
{
    color: #0a0;
}
.md-in-1
{
    color: #c30;
}
.md-in-2
{
    color: #ccc;
}

.mr
{
    position: absolute;
    border-top: 0.1rem solid #ffffff33;
}

.mh
{
    position: absolute;
}

.mh-win
{
    color: #00cc00;
}

.mh-fail
{
    color: #cc0000;
}

.mh-new
{
    color: #ffffff33;
}

@keyframes mr-start
{
    0% { border-top-color: #000; }
    100% { border-top-color: #ff0; }
}

@keyframes mr-fail
{
    0% { border-top-color: #ff550088; }
    100% { border-top-color: #ffffff33; }
}

@keyframes mr-win
{
    0% { border-top-color: #00ff0088; }
    100% { border-top-color: #ffffff33; }
}

/* debug */
/* #container:hover { background: #00000020 } */
