/* palette from https://lospec.com/palette-list/lost-century - thanks! */
/* [ candara, corbel ] [ 'segoe print', georgia ] */

html,
body
{
    margin: 0;
    padding: 0;
    background: #574852;
    color: #000000aa;
    font-family: candara, corbel;
    font-size: min(5.33vh, 3vw);
    transition: background-color 0.5s, color 0.5s;
}

.body-conversation
{
    background: #ab9b8e;
    color: #847875;
}

*
{
    cursor: default;
}

#screens > div
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loader
{
    text-align: center;
    padding-top: 5rem;
}

@keyframes blink
{
    0% { opacity: 1; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

#conversation
{
    overflow: hidden;
    height: 100%;
}

#conversation > div
{
    margin: 0.3rem;
    padding: 0.1rem;
}

.s
{
    background: #ffffff22;
}

.s-you
{
    color: #4b726e;
    font-weight: bold;
}

.s-king
{
    color: #ae5d40;
    font-weight: bold;
}

.n
{
    opacity: 0;
}

#click-to-continue
{
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    animation: blink 2s infinite;
}

/* debug */
/* #container:hover { background: #00000020 } */
